@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');
@tailwind components;
@tailwind utilities;

@layer components{
    .skilled{
        @apply font-plus_jakarta_s font-extrabold text-[28px] text-left align-top text-skilled_col ;
        line-height: 35px

    }
    .btn-text{
        @apply font-plus_jakarta_s  font-bold text-base text-left align-top text-white;
    }
    .title{
        @apply font-plus_jakarta_s font-extrabold text-left align-top text-[#13183F] ;
        font-size: 40px;
        line-height:50px  ;

    }
    .introduction {
@apply font-plus_jakarta_s font-medium text-base text-left align-top text-[#83869A] ;
        line-height:26px ;
    }
    .box-title {
        @apply font-plus_jakarta_s font-extrabold text-2xl  leading-8 text-left align-top text-white;
    }



}


